wifi_ssid: "YOUR_WIFI_SSID"
wifi_password: "YOUR_WIFI_PASSWORD"
wifi_bssid: "AA:BB:CC:DD:EE:FF"

api_encryption_key: "GENERATE_A_KEY"
feeder_api_key: "GENERATE_A_KEY"

ota_password: "YOUR_OTA_PASSWORD"
feeder_ota_password: "YOUR_OTA_PASSWORD"

wifi_ap_password: "YOUR_AP_PASSWORD"
feeder_ap_password: "YOUR_AP_PASSWORD"
